.popup__fields {
    margin: 0;
    padding-left: 36px;
    padding-right: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 500px) {
    .popup__fields {
        padding-left: 22px;
        padding-right: 22px;
    }
}