.profile__author-name {
    font-family: 'Inter', 'Arial', sans-serif;
    margin: 22px 0 16px;
    max-width: 294px;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    max-height: 39px;
    color: #FFFFFF;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 900px) {
    .profile__author-name {
        max-height: 26px;
        margin-top: 26px;
        margin-bottom: 14px;
        font-size: 27px;
        line-height: 33px;
        text-align: center;
    }
}